@charset "UTF-8";

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("../fonts/Gilroy-Heavy.eot");
  src: local("☺"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype"), url("../fonts/Gilroy-Heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy-Medium";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy-Medium";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  position: relative;
}

body._lock {
  overflow: hidden;
}

body._lock::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

._no-webp .header-bg{
  background: url(../img/header/bg.png) right bottom/auto 100% no-repeat; }

.header-bg {
  padding-top: 30px;
}

.up-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
}

.up-contact__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 389px;
          flex: 0 1 389px;
}

.up-contact__logo-title {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 52px;
  color: #E1E1E1;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 2px solid #89AFEF;
  line-height: 0.8;
  position: relative;
  z-index: 5;
}

.up-contact__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5D5D5D;
}

.up-contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.up-contact__social-item {
  height: 43px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.up-contact__social-item:nth-child(1) {
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.up-contact__social-item:nth-child(2) {
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.up-contact__social-item:nth-child(3) {
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
  margin-right: 0;
}

.up-contact__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.up-contact__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 5;
}

.up-contact__contact a {
  text-align: right;
  padding-left: 25px;
  display: inline-block;
}

.up-contact__contact a:nth-child(1) {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  background: url(../img/header/call-answer.svg) left center no-repeat;
}

.up-contact__contact a:nth-child(2) {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  background: url(../img/header/mail-black-envelope-symbol.svg) left center no-repeat;
}

.up-contact__callback {
  padding: 12px 28px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  margin-left: 30px;
}

.up-contact__callback a {
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.menu__nav {
  margin-bottom: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin: 0px 7px;
}

.menu__link {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  color: #333333;
}

.menu__link:hover {
  border-bottom: 2px dashed #333;
}

.body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 17px;
}

.body-header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 675px;
          flex: 0 1 675px;
}

.body-header__text-main {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
}

.body-header__text-sub {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 25px 0px 33px;
}

.body-header__text-sub span {
  font-family: "Gilroy-Heavy";
}

.body-header__order {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  padding: 16px 60px;
}

.body-header__image {
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.icon-menu {
  display: none;
}

.header__menu {
  padding-top: 20px;
}

.header2 {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.149476);
}

.footer {
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__main {
  border-bottom: 1px solid #4E4E4E;
}

.footer__body {
  padding: 56px 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  margin-right: 30px;
  margin-bottom: 40px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__title {
  font-family: "Gilroy-Bold";
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.footer__list-item {
  margin-bottom: 15px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-family: "Gilroy-Regular";
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.footer__down {
  padding: 21px 0px 15px;
}

.footer__down-text {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
}

.footer-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 262px;
          flex: 0 0 262px;
}

.footer-contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px;
}

.footer-contact__social-item {
  margin-bottom: 19px;
}

.footer-contact__social-item:last-child {
  margin-bottom: 0;
}

.footer-contact__social-item:nth-child(1) a {
  background: url(../img/footer/tg.svg) left center/contain no-repeat;
}

.footer-contact__social-item:nth-child(2) a {
  background: url(../img/footer/vb.svg) left center/contain no-repeat;
}

.footer-contact__social-item:nth-child(3) a {
  background: url(../img/footer/whatsapp.svg) left center/contain no-repeat;
}

.footer-contact__social-link {
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  padding-left: 34px;
}

.footer-contact__telmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 46px;
}

.footer-contact__telmail a {
  padding-left: 34px;
}

.footer-contact__phone {
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
  background: url(../img/footer/phone.svg) left center no-repeat;
}

.footer-contact__mail {
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: url(../img/footer/mail.svg) left center no-repeat;
}

.footer-contact__callback {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
          box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  border-radius: 3px;
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.footer-contact__logo {
  font-family: "Gilroy-Heavy";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
  margin-top: 50px;
  letter-spacing: 3px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}

.certification-title {
  margin-bottom: 40px;
}

.registration {
  background: #ffffff;
  padding: 46px 0px 70px;
}

.registration__body {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 190px 190px 190px;
  grid-template-rows: 190px 190px 190px;
  grid-gap: 30px;
}

.registration__item {
  height: 100%;
  width: 100%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}

.registration__text {
  margin-top: 15px;
}

.registration__text p {
  font-family: "Gilroy-SemiBold";
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.advantages {
  padding: 42px 0px;
  background: #ffffff;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 262px;
          flex: 0 1 262px;
}

.advantages__item:last-child {
  margin-right: 0;
}

.advantages__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 98px;
          flex: 0 0 98px;
  width: 98px;
  border-radius: 50%;
  border: 2px solid #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

.advantages__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantages__title {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
}

.advantages__subtext {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #333333;
}

.programs {
  padding: 52px 0px 130px;
  background: #ffffff;
}

.programs__body {
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.programs__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.programs__item {
  text-align: center;
  max-width: 25%;
  padding: 0px 20px;
}

.programs__img {
  margin-bottom: 17px;
}

.programs__img img {
  margin: 0 auto;
}

.programs__text {
  padding: 0px 20px;
}

.programs__name {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.programs__stats {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53B43B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.programs__stats::before {
  content: url(../img/programs/accept.svg);
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #53B43B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  height: 17px;
}

.programs__price {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin-top: 20px;
}

.programs .slick-dots {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs .slick-dots li {
  height: 11px;
  width: 11px;
  background: #E4E4E4;
  border-radius: 50%;
  margin: 0px 4.5px;
}

.programs .slick-dots li button {
  font-size: 0;
  background: none;
}

.programs .slick-dots .slick-active {
  border: 2px solid #84AAED;
  width: 12px;
  height: 12px;
}

.examples {
  padding: 52px 0px 70px;
  background: #ffffff;
}

.examples__body {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.examples__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.examples__item {
  max-width: 25%;
  min-height: 306px;
}

.examples__item img {
  margin: 0 auto;
}

.examples .slick-list {
  width: 100%;
}

.examples .slick-track {
  width: 100%;
}

.examples .slick-arrow {
  background: none;
  font-size: 0;
  position: absolute;
  height: 39px;
  width: 21px;
  top: 50%;
  z-index: 2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.examples .slick-prev {
  background: url(../img/examples/left.svg) center/100% 100% no-repeat;
  left: -12px;
}

.examples .slick-next {
  background: url(../img/examples/left.svg) center/100% 100% no-repeat;
  right: -12px;
  -webkit-transform: rotateZ(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotateZ(180deg) translateY(50%);
}

.examples .slick-disabled {
  background: url(../img/examples/left-disable.svg) center/100% 100% no-repeat;
}

.examples .slick-dots {
  position: absolute;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.examples .slick-dots li {
  height: 11px;
  width: 11px;
  background: #E4E4E4;
  border-radius: 50%;
  margin: 0px 4.5px;
}

.examples .slick-dots li button {
  font-size: 0;
  background: none;
}

.examples .slick-dots .slick-active {
  border: 2px solid #84AAED;
  width: 12px;
  height: 12px;
}

.news {
  padding: 52px 0px 70px;
  background: #ffffff;
}

.news__body {
  margin-top: 40px;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.news__item {
  width: 50%;
}

.news__allBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__all-news {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #6D81CC;
  padding: 16px 58px;
  border: 2px solid #6D81CC;
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
}

._no-webp .news-sales{
  background: url(../img/news/1.png) right 30px/auto no-repeat, url(../img/news/bg.png) right bottom/auto 100% no-repeat; }

.news-sales {
  margin-right: 20px;
  padding: 41px 30px 50px;
}

.news-sales__text {
  max-width: 272px;
}

.news-sales__main {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 30px;
}

.news-sales__main span {
  color: #86AEF0;
}

.news-sales__sub {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.news-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 24px;
}

.news-news__date {
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
  margin: 13px 0 9px;
}

.news-news__name {
  font-family: "Gilroy-Bold";
  font-size: 19px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 10px;
}

.news-news__sub {
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.breadcrumb {
  width: 100%;
  padding: 20px 0px 30px;
}

.breadcrumb__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.breadcrumb__item {
  display: inline;
  padding: 0px 3px;
}

.breadcrumb__item + li:before {
  content: "-";
  color: black;
}

.breadcrumb__item p {
  display: inline;
}

.breadcrumb__link {
  font-size: 15px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #86AFEF;
}

.banner__body {
  padding: 40px 40px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #fff;
}

.banner__item:nth-child(1) {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 78px;
}

.banner__item:nth-child(2) {
  max-width: 465px;
}

.banner__pricetext {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  margin-bottom: 13px;
}

.banner__price {
  font-family: "Gilroy-Bold";
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #87B0EE;
  padding-bottom: 5px;
  border-bottom: 2px solid #87B0EE;
  display: inline-block;
  margin-bottom: 25px;
}

.banner__time {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  margin-bottom: 15px;
}

.banner__date {
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  max-width: 150px;
}

.banner__order {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  padding: 20px 55px;
  margin-top: 25px;
}

.banner__title {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
  margin-bottom: 20px;
}

.banner__text {
  font-size: 17px;
  line-height: 26px;
  color: #333333;
}

.certification-text {
  padding: 32px 0px 35px;
}

.certification-text__text {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 28px;
}

.certification-text__title1 {
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 15px;
}

.certification-text__title2 {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 15px;
}

.certification-text__item {
  padding-left: 60px;
  margin-bottom: 10px;
}

.certification-text__item:last-child {
  margin-bottom: 0;
}

.certification-text__item p {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certification-text__item p:before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0  9px;
          flex: 0 0  9px;
  height: 9px;
  margin-right: 15px;
  background: #87B0EE;
  display: inline-block;
  border-radius: 50%;
}

.form-safety {
  padding: 56px 0px 70px;
  background: #86ADEF;
}

.form-safety__title {
  color: #FFFFFF;
  text-align: left;
}

.form-safety__form {
  margin-top: 30px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
}

.form__label {
  font-family: "Gilroy-Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #516C9A;
  margin-bottom: 10px;
}

.form__input {
  height: 46px;
  padding: 10px 5px 10px 10px;
}

.form__input._error {
  -webkit-box-shadow: 0 0 6px 2px red;
          box-shadow: 0 0 6px 2px red;
}

.form__item-phoneMail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 30px;
}

.form__button {
  height: 46px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
  border-radius: 2px;
  font-family: "Gilroy-Heavy";
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.8px;
}

.form-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  grid-gap: 30px;
}

.form-row:nth-child(3) {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-columns: 1fr 1.5fr 0.5fr;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-row: auto;
  grid-gap: 30px;
}

.form-row:nth-child(2) {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #678BC7;
}

.tidings {
  padding: 15px 0px 68px;
  background: #ffffff;
}

.tidings__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tidings__item {
  padding: 27px 23px;
}

.tidings__date {
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
  margin: 13px 0 9px;
}

.tidings__name {
  font-family: "Gilroy-Bold";
  font-size: 19px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 10px;
}

.tidings__sub {
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.tidings__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.tidings__dots-item {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
          flex: 0 0 28px;
  height: 28px;
  border: 2px solid #D0D0D0;
  margin-right: 5px;
  cursor: pointer;
}

.tidings__dots-item:last-child {
  margin-right: 0;
}

.tidings__dots-item.tidings__dots-item-active {
  color: #87B0EE;
  border-color: #87B0EE;
}

.contactes {
  background: #ffffff;
  padding-bottom: 70px;
}

.contactes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactes__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactes__title {
  color: #000;
  text-align: left;
}

.contactes__text-country {
  font-size: 17px;
  line-height: 20px;
  color: #333333;
}

.contactes__contact {
  margin-top: 32px;
}

.contactes__contact p {
  padding-left: 30px;
}

.contactes__phone {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 5px;
  background: url(../img/header/call-answer.svg) left center/16px 16px no-repeat;
}

.contactes__mail {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: url(../img/header/mail-black-envelope-symbol.svg) left center/16px 12px no-repeat;
}

.contactes__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  margin-bottom: 44px;
  margin-top: 30px;
}

.contactes__social-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

.contactes__social-item:nth-child(1) {
  background: #2DD038;
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

.contactes__social-item:nth-child(2) {
  background: #7B519D;
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

.contactes__social-item:nth-child(3) {
  background: #5BBAF0;
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
  margin-right: 0;
}

.contactes__qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactes__qrimg {
  margin-right: 30px;
}

.contactes__qrtext {
  padding-top: 23px;
  max-width: 358px;
}

.contactes__qrtitle {
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 15px;
}

.contactes__qrtext-text {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.contactes__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 460px;
          flex: 0 0 460px;
  padding: 25px 65px;
  background: #87B0EE;
  -webkit-box-shadow: 0px 2px 6px rgba(38, 54, 77, 0.275514);
          box-shadow: 0px 2px 6px rgba(38, 54, 77, 0.275514);
  margin-left: 40px;
}

.contactes-form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactes-form__label {
  font-family: "Gilroy-Heavy";
  font-size: 27px;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.contactes-form__item {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contactes-form__input {
  width: 100%;
  padding: 12px 16px;
}

.contactes-form__input._error {
  -webkit-box-shadow: 0 0 6px 2px red;
          box-shadow: 0 0 6px 2px red;
}

.contactes-form__area {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px;
}

.contactes-form__button {
  padding: 15px 30px;
  max-width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
          box-shadow: 0px 8px 18px rgba(167, 108, 67, 0.43892);
  border-radius: 3px;
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}

@media screen and (min-width: 650px) {
  ._no-webp .banner__body{
    background: url(../img/banner/bg.png) right/auto 100% no-repeat; }
  .banner__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  ._no-webp .banner__body{
    background: url(../img/banner/book.png) right no-repeat, url(../img/banner/bg.png) right/auto 100% no-repeat; }
  .banner__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1250px) {
  .examples .slick-prev {
    left: -50px;
  }

  .examples .slick-next {
    right: -50px;
  }
}

@media screen and (max-width: 1170px) {
  .registration__body {
    -ms-grid-row: 5;
    grid-row: 5;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 190px 190px 190px 190px;
    grid-template-rows: 190px 190px 190px 190px;
  }

  .form-row:nth-child(3) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 30px;
  }

  .form-row:nth-child(1) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 0;
  }

  .form-row:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 0;
  }

  .tidings__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .tidings__item {
    padding: 23px 15px;
  }
}

@media screen and (max-width: 1130px) {
  .contactes__qrcode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 1100px) {
  .news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news__item {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .up-contact__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .up-contact__logo-title {
    border-right: none;
    padding: 0;
    line-height: normal;
  }

  .up-contact__text {
    display: none;
  }

  .menu__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-columns: 250px 250px 250px;
    grid-template-columns: 250px 250px 250px;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .advantages__item {
    margin-right: 15px;
  }

  .advantages__title {
    font-size: 20px;
  }

  .advantages__subtext {
    font-size: 16px;
  }

  .advantages__subtext {
    font-size: 14px;
  }

  .banner__item:nth-child(1) {
    margin-right: 45px;
  }

  .banner__item:nth-child(2) {
    max-width: auto;
  }
}

@media (max-width: 991.98px) {
  ._container {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 950px) {
  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0 0 20px 0;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 800px) {
  .up-contact__callback {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-bg {
    margin: 90px 0px 0px 0px;
  }

  .up-contact {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: 90px;
    padding: 0 15px;
    background: #ffffff;
  }

  .up-contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .up-contact__logo {
    z-index: 5;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .up-contact__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 15px;
  }

  .up-contact__social-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    height: 50px;
  }

  .up-contact__contacts {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .menu__nav {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__list {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: auto;
  }

  .menu__item {
    margin: 10px 0px;
  }

  .menu__link {
    font-size: 20px;
    font-family: "Gilroy-SemiBold";
  }

  .body-header__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 500px;
            flex: 1 0 500px;
    margin-right: 10px;
  }

  .body-header__text-main {
    font-size: 33px;
  }

  .body-header__image {
    -webkit-transform: translateX(-170px);
        -ms-transform: translateX(-170px);
            transform: translateX(-170px);
  }

  .mobile-content {
    display: block;
    position: fixed;
    height: 100%;
    width: 70%;
    padding: 90px 10px 10px;
    top: 0;
    left: -100vw;
    z-index: 2;
    background: #ffffff;
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  .mobile-content._active {
    left: 0;
  }

  .mobile-content__container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__title {
    margin-bottom: 17px;
  }

  .page {
    margin-top: 90px;
  }

  .registration {
    padding: 40px 0px 30px;
  }

  .registration__title {
    font-size: 30px;
  }

  .programs {
    padding: 35px 0px 110px;
  }

  .examples {
    padding: 35px 0px 110px;
  }

  .breadcrumb {
    display: none;
  }

  .banner__title {
    font-size: 31px;
    line-height: 35px;
  }

  .banner__text {
    font-size: 16px;
    line-height: 22px;
  }

  .certification-text__item {
    padding-left: 40px;
  }

  .tidings__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contactes__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactes__text {
    margin-bottom: 30px;
  }

  .contactes__qrcode {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contactes__form {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .icon-menu {
    display: block;
    position: relative;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 5px;
  }
}

@media screen and (max-width: 700px) {
  .registration__body {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 190px 190px 190px 190px 190px;
    grid-template-rows: 190px 190px 190px 190px 190px;
  }
}

@media screen and (max-width: 650px) {
  .advantages__item {
    padding: 10px;
  }

  .advantages__title {
    font-size: 18px;
  }

  .banner__item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .banner__item:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header-bg {
    padding-bottom: 50px;
  }

  .up-contact__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .up-contact__contact a:nth-child(1) {
    font-size: 0;
    background: url(../img/header/call-answer.svg) left center/auto 100% no-repeat;
    margin-right: 20px;
    line-height: 24px;
  }

  .up-contact__contact a:nth-child(2) {
    font-size: 0;
    background: url(../img/header/mail-black-envelope-symbol.svg) left center/100% auto no-repeat;
    line-height: 24px;
  }

  .body-header__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .body-header__image {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  ._no-webp .news-sales{
    background: url(../img/news/bg.png) right bottom/auto 100% no-repeat; }

  .news-sales__text {
    width: 100%;
  }

  .news-sales__main span {
    color: #333333;
  }

  .news-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news-news__img {
    width: 100%;
  }

  .news-news__img picture {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .news-news__img img {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .tidings__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tidings__img {
    width: 100%;
    padding: 0 15px;
  }

  .tidings__img picture {
    width: 100%;
  }

  .tidings__text {
    width: 100%;
    padding: 0 15px;
  }

  .contactes__social {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .contactes__qrcode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactes__form {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 500px) and (max-width: 500px) {
  .tidings__img picture img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .registration__body {
    -ms-grid-row: 6;
    grid-row: 6;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 166px 166px 166px 166px 166px;
    grid-template-rows: 166px 166px 166px 166px 166px;
    grid-gap: 20px 0px;
  }

  .registration__item {
    padding: 10px;
  }

  .registration__text {
    width: 100%;
  }

  .registration__text p {
    font-size: 15px;
    line-height: 20px;
  }

  .certification-text__item {
    padding-left: 10px;
  }
}

@media screen and (max-width: 460px) {
  .mobile-content {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .body-header__text-main {
    font-size: 26px;
    line-height: 37px;
    max-width: 100%;
  }

  .body-header__text-sub {
    font-size: 20px;
  }

  .banner__body {
    padding: 10px 10px 15px;
  }

  .banner__title {
    font-size: 27px;
  }

  .form__item-phoneMail {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 389px) {
  .news-sales {
    background: none;
  }
}

@media screen and (max-width: 370px) {
  .registration__item {
    padding: 6px;
  }
}

._webp .header-bg{ background: url(../img/header/bg.webp) right bottom/auto 100% no-repeat; }

._webp .news-sales{ background: url(../img/news/1.webp) right 30px/auto no-repeat, url(../img/news/bg.webp) right bottom/auto 100% no-repeat; }

@media screen and (min-width: 650px){

  ._webp .banner__body{ background: url(../img/banner/bg.webp) right/auto 100% no-repeat; }
}

@media screen and (min-width: 1024px){

  ._webp .banner__body{ background: url(../img/banner/book.webp) right no-repeat, url(../img/banner/bg.webp) right/auto 100% no-repeat; }
}

@media screen and (max-width: 550px){

  ._webp .news-sales{ background: url(../img/news/bg.webp) right bottom/auto 100% no-repeat; }
}